## Introduce connection and request rate limiting to protect against DOS attacks (10m cache size ~160,000 IPs)
## $proxy_protocol_addr vs $binary_remote_addr (OR $remote_addr) ??
limit_req_zone $remote_addr zone=dm-req-prod:36m rate=30r/s;
limit_conn_zone $remote_addr zone=dm-conn-prod:36m;
server {
    listen       80;
    listen  [::]:80;
    listen       443 ssl;
    listen  [::]:443 ssl;
    server_name  $BROWSER_FQDN;

    ssl_certificate /etc/letsencrypt/live/${BROWSER_FQDN}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/${BROWSER_FQDN}/privkey.pem;
    include /etc/nginx/conf.d/ssl-settings.inc;

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

    ## Burst rate limit settings (delay after delay=X no. of requests)
    limit_req zone=dm-req-prod burst=10000 delay=2000;
    limit_conn dm-conn-prod 200;

    location / {
        proxy_pass         $COMETAR_WEB_SERVER/;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
    }

    location /git/ {
        proxy_pass         $COMETAR_GIT_SERVER/git/;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;

        client_max_body_size 10m;
        proxy_read_timeout 600;
        proxy_connect_timeout 600;
        proxy_send_timeout 600;

        satisfy any;
        auth_basic "CoMetaR Git";
        auth_basic_user_file /etc/nginx/auth/.htpasswd_git;
        $COMETAR_GIT_ALLOW_RANGE
        deny all;
    }

    ## Block browser access to rest service unless authorised (what is this used for?)
    location /rest/ {
        proxy_pass         $COMETAR_REST_SERVER/;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;

        satisfy any;
        auth_basic "CoMetaR REST";
        auth_basic_user_file /etc/nginx/auth/.htpasswd_rest;
        $COMETAR_REST_ALLOW_RANGE
        deny all;
    }

    ## Allow browser access to read-only query services
    location /rest/query/ {
        proxy_pass         $COMETAR_REST_SERVER/query/;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;

        allow all;
    }

    ## Allow browser access to fuseki (for queries)
    location /fuseki/ {
        proxy_pass         $COMETAR_FUSEKI_SERVER/;
        proxy_set_header   Host $host:$server_port;
        proxy_set_header   X-Forwarded-Server $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
    }

    ## Block browser access to certain fuseki paths
    location ~ ^/fuseki/([^/]+)/((upload|data|update|get).*) {
        proxy_pass         $COMETAR_FUSEKI_SERVER/$1/$2;
        proxy_set_header   Host $host:$server_port;
        proxy_set_header   X-Forwarded-Server $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;

        satisfy any;
        auth_basic "CoMetaR Fueseki edit";
        auth_basic_user_file /etc/nginx/auth/.htpasswd_fuseki;
        $COMETAR_FUSEKI_ADMIN_ALLOW_RANGE
        deny all;
    }

    location /webclient/ {
        proxy_pass         $I2B2_WEB_SERVER/webclient/;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;
    }

    location /i2b2-api/ {
        proxy_pass         $I2B2_API_SERVER/;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;

        proxy_read_timeout 300;
        proxy_connect_timeout 300;
        proxy_send_timeout 300;

        satisfy any;
        auth_basic "i2b2 api";
        auth_basic_user_file /etc/nginx/auth/.htpasswd_api;
        $I2B2_API_ALLOW_RANGE
        deny all;
    }

    ## Allow public access to public read-only services
    location /i2b2-api/public/ {
        proxy_pass         $I2B2_API_SERVER/public/;
        proxy_set_header   Host $host;
        proxy_set_header   X-Real-IP $remote_addr;
        proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Host $server_name;

        allow all;
    }

}
