## Specific settings to enable hosting via the automatic https proxy

## VIRTUAL_HOST=str: fqdn for the proxy where the web application should be accessible
VIRTUAL_HOST=example.com
## LETSENCRYPT_HOST=str: Tells the proxy and its companion to generate and manage an HTTPS certificate for you (Usually set same as VIRTUAL_HOST)
LETSENCRYPT_HOST=example.com
