version: '3'

volumes:
  i2b2-db:
  cometar-repository:
  cometar-provenance:
  auth:

networks:
  edge-proxy:
    ## This is created and managed by the "proxy-separate-application" composition
    external: true
    name: proxy-separate-application_edge-proxy
  cometar-backend:
  i2b2-backend:

services:
  ## Third-party proxy is launched with a separate composition "proxy-separate-application"

  ## Application services
  ## CoMetaR's own routing/auth proxy
  cometar-proxy:
    container_name:
      cometar.proxy
    image: ${IMAGE_NAMESPACE}/cometar/cometar-proxy:${COMETAR_VERSION:-latest}
    env_file:
      - .env
      - .env-proxy-cometar
    volumes:
      - auth:/etc/nginx/auth
    networks:
      - edge-proxy
      - cometar-backend
    depends_on:
      - "cometar-web"
  cometar-web:
    container_name:
      cometar.web
    image: ${IMAGE_NAMESPACE}/cometar/cometar-web:${COMETAR_VERSION:-latest}
    restart: unless-stopped
    env_file:
      - .env
    networks:
      - cometar-backend
    depends_on:
      - "cometar-rest"
      - "cometar-fuseki"
  cometar-git:
    container_name:
      cometar.git
    image: ${IMAGE_NAMESPACE}/cometar/cometar-git:${COMETAR_VERSION:-latest}
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - cometar-repository:/git
    networks:
      - cometar-backend
    depends_on:
      - "cometar-rest"
  cometar-rest:
    container_name:
      cometar.rest
    image: ${IMAGE_NAMESPACE}/cometar/cometar-rest:${COMETAR_VERSION:-latest}
    restart: unless-stopped
    tmpfs:
      - /tmp
    volumes:
      - cometar-repository:/update-hook-repository:ro
      - cometar-provenance:/var/lib/cometar/provenance
    networks:
      - cometar-backend
    depends_on:
      - "cometar-fuseki"
  cometar-fuseki:
    container_name:
      cometar.fuseki
    # image: ${IMAGE_NAMESPACE}/cometar/cometar-fuseki:${COMETAR_VERSION:-latest}
    image: ${IMAGE_NAMESPACE}/cometar/cometar-fuseki_ui:${COMETAR_VERSION:-latest}
    restart: unless-stopped
    # env_file:
    #   - .env-proxy-fuseki
    networks:
      - edge-proxy
      - cometar-backend

  i2b2-web:
    container_name:
      i2b2.web
    image: ${IMAGE_NAMESPACE}/i2b2/i2b2-web:${I2B2_VERSION:-latest}
    env_file:
      - .env
      - .env-proxy-i2b2
    networks:
      - edge-proxy
      - i2b2-backend
    depends_on:
      - i2b2-wildfly
  i2b2-wildfly:
    container_name:
      i2b2.wildfly
    image: ${IMAGE_NAMESPACE}/i2b2/i2b2-wildfly:${I2B2_VERSION:-latest}
    env_file:
      - .env
      - ./secrets/i2b2-secrets
    networks:
      - i2b2-backend
    depends_on:
      - i2b2-database
  i2b2-database:
    container_name:
      i2b2.database
    image: ${IMAGE_NAMESPACE}/i2b2/i2b2-database:${I2B2_VERSION:-latest}
    volumes:
      - i2b2-db:/var/lib/postgresql/data
    env_file:
      - .env
      - ./secrets/i2b2-secrets
    networks:
      - i2b2-backend
